fastapi
uvicorn
python-dotenv
pydantic
requests
langchain
langchain-community
langchain-core
langchain-text-splitters
langgraph
openai
langchain-groq
langchain-huggingface
langchain-pinecone
pinecone>=6,<8
supabase
pymongo
SQLAlchemy
pypdf
python-multipart
tqdm
numpy
scikit-learn
httpx[http2]
websockets>=14,<16
